<div class="string-viewer-menu">
  <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="8px">    
      <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
        <div fxLayout="row" fxLayoutAlign="end start" fxLayoutGap="2px">
            <button color="accent" (click)="saveStringKeyValue()" [disabled]="isRealtime" mat-stroked-button>Save Changes</button>
        </div>
        <button
          *ngIf="!isRealtime"
          matTooltip="Refresh Value" color="accent" mat-icon-button>
            <mat-icon >sync</mat-icon>
        </button>
      </div>

      <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="3px" fxLayoutWrap>   
        <ngx-codemirror 
          [autoFocus]="true"
          [name]="key"
          [(ngModel)]="stringValue"
          [options]="editorOptions"
        ></ngx-codemirror>
      </div>
  </div>  
</div>
