
<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Add </b>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field
       *ngIf="formModel?.formType == 'set' ||
        formModel?.formType == 'list' ||
        formModel?.formType == 'hash' ||
        formModel?.formType == 'zset'">
        <input matInput [(ngModel)]="formModel.addValue"
         placeholder="{{ placeholderMap(formModel?.formType)}}">
      </mat-form-field>
      <mat-form-field
       *ngIf=" formModel?.formType == 'zset'">
        <input matInput [(ngModel)]="formModel.score" placeholder="Score">
      </mat-form-field> 
      <mat-form-field
        *ngIf=" formModel?.formType == 'list'">
          <mat-select [(value)]="formModel.listAddType" placeholder="To..">
            <mat-option [value]="'head'">
              Head
            </mat-option>
            <mat-option  [value]="'tail'">
              Tail
            </mat-option>
          </mat-select>
        </mat-form-field>
        <ul *ngIf="formModel.formErrors">
          <li *ngFor="let err of formModel.formErrors">{{err}</li>
        </ul>
        <button mat-color="primary" (click)="submitNewValue()" mat-raised-button>Submit</button>
    </mat-expansion-panel>
  </mat-accordion>
<table>
  <thead>
    <tr>
      <th *ngIf="_selectedKeyInfo?.type == 'list'">Index</th>
      <th [ngClass]="col == 'score' ? 'scoreCol' : ''" *ngFor="let col of displayedColumns;" >{{col | capitalize}} </th>      
    </tr>
  </thead>
  <tbody>
    <tr class="clickableEntity" *ngFor="let entity of _selectedKeyInfo?.keyScanInfo.entities; let i = index" >
      <td (click)="selectEntityIndex.emit({keyInfo: _selectedKeyInfo,index: i})" *ngIf="_selectedKeyInfo?.type == 'list'">{{i}}</td>
      <td (click)="selectEntityIndex.emit({keyInfo: _selectedKeyInfo,index: i})" [ngClass]="_selectedKeyInfo?.keyScanInfo.selectedEntityIndex == i ? 'selectedEntity' : ''" [ngClass]="col == 'score' ? 'scoreCol' : ''" [matTooltip]="entity[col]" [matTooltipShowDelay]="300" *ngFor="let col of displayedColumns">{{entity[col] | ellipsis: 20}}</td>
      <button  matTooltip="Delete" (click)="deleteEntity(entity)" mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
    </tr>
    <tr *ngIf="_selectedKeyInfo?.keyScanInfo.hasMoreEntities">
      <button class="loadKey"  mat-stroked-button (click)="loadMore(_selectedKeyInfo)">
        Load More
        <mat-icon>details</mat-icon>
      </button> 
    </tr>
  </tbody>
</table>

