<mat-form-field>    
  <input
    type="text"
    [formControl]="searchInputControl"
    matInput placeholder="Key / Pattern (asterix*)" [value]="searchInputControl.value" #searchInput>
    <button mat-button *ngIf="searchInputControl.value" matSuffix mat-icon-button aria-label="Clear"
     (click)="searchInputChanged.emit('')">
      <mat-icon>remove</mat-icon>
    </button>
    <button mat-button  matSuffix mat-icon-button aria-label="Search"
     (click)="clickSearch()">
      <mat-icon>search</mat-icon>
    </button>
</mat-form-field> 

<mat-tree #listTree [dataSource]="nestedDataSource" [treeControl]="nestedTreeControl" class="example-tree">
    <mat-tree-node      
      [ngClass]="isSelected(node) ? 'selectedNode' : ''"
     *matTreeNodeDef="let node" matTreeNodeToggle>
      <li fxLayout="row" fxLayoutAlign="space-between center" class="mat-tree-node">
        <div [matTooltip]="node.key" [matTooltipShowDelay]="710" class="selector-area" (click)="!isSelected(node) ? nodeClick.emit(node) : return">
          <button color="primary" mat-icon-button disabled>
            <mat-icon [matTooltip]="typeTooltipMap[node.type]">
              {{typeIconMap[node.type]}}
            </mat-icon>
          </button>        
          {{node.displayName | ellipsis: 16}} 
        </div>
        <div class="menu-area">
          <button mat-icon-button [matMenuTriggerFor]="nodeMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #nodeMenu="matMenu">
            <button (click)= "deleteClick.emit(node)" color="warn" mat-menu-item>
              <mat-icon>delete_forever</mat-icon>
              <span>Delete Key</span>
            </button>
            <button (click)="renameClick.emit(node)" color="accent" mat-menu-item>
              <mat-icon>edit</mat-icon>
              <span>Rename</span>
            </button>
          </mat-menu>
        </div>
      </li>
    </mat-tree-node>
    
    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasNestedChild">
      <li>
        <div class="mat-tree-node" [ngClass]="isSelected(node) ? 'selectedNode' : ''">
          <button
          (click)= "expandClick.emit(node)"
          mat-icon-button matTreeNodeToggle
                  [matTooltip]="'toggle ' + node.key">
            <mat-icon class="mat-icon-rtl-mirror">
              {{nestedTreeControl.isExpanded(node) ? 'folder_open' : 'folder'}}
            </mat-icon>
          </button>
          <div [matTooltip]="node.displayName" [matTooltipShowDelay]="710"  
            class="selector-area" (click)="expandClick.emit(node)">
            {{node.displayName}}
          </div>
          <div class="menu-area">
            <button mat-icon-button [matMenuTriggerFor]="nodeMenu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #nodeMenu="matMenu">
              <button (click)= "deleteClick.emit(node)" color="warn" mat-menu-item>
                <mat-icon>delete_forever</mat-icon>
                <span>Delete Folder (With sub keys)</span>
              </button>
              <button (click)="addFolderKey.emit(node.key)" color="accent" mat-menu-item>
                <mat-icon>device_hub</mat-icon>
                <span>Add New Key (Folder)</span>
              </button>
            </mat-menu>
          </div>
        </div>
        <ul [class.example-tree-invisible]="!nestedTreeControl.isExpanded(node)">
          <ng-container matTreeNodeOutlet></ng-container>
        </ul>
      </li>
    </mat-nested-tree-node>
  </mat-tree>

  <button class="loadKey" *ngIf="hasMoreKeys" mat-stroked-button (click)="loadMore.emit()">
    Load More
    <mat-icon>details</mat-icon>
  </button>