<mat-form-field>    
  <input
    type="text"
    [formControl]="searchInputControl"
    matInput placeholder="Search key..." value="{{searchText}}" #searchInput>
    <button mat-button *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear"
     (click)="searchInputChanged.emit(null)">
      <mat-icon>close</mat-icon>
    </button>
</mat-form-field> 

<mat-tree [dataSource]="nestedDataSource" [treeControl]="nestedTreeControl" class="example-tree">
    <mat-tree-node      
      [ngClass]="isSelected(node) ? 'selectedNode' : ''"
     *matTreeNodeDef="let node" matTreeNodeToggle>
      <li fxLayout="row" fxLayoutAlign="space-between center" class="mat-tree-node">
        <div  class="selector-area" (click)="!isSelected(node) ? nodeClick.emit(node) : return">
          <button  color="primary" mat-icon-button disabled>
            <mat-icon>
              {{typeIconMap[node.type]}}
            </mat-icon></button>        
          <span [matBadge]="node.len" matBadgePosition="after" matBadgeOverlap="false" [matBadgeHidden]="!node.len">{{node.key}} </span>
        </div>
        <div class="menu-area">
          <button mat-icon-button [matMenuTriggerFor]="nodeMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #nodeMenu="matMenu">
            <button color="warn" mat-menu-item>
              <mat-icon>delete_forever</mat-icon>
              <span>Delete Key</span>
            </button>
          </mat-menu>
        </div>
      </li>
    </mat-tree-node>
  
    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasNestedChild">
      <li>
        <div class="mat-tree-node" [ngClass]="isSelected(node) ? 'selectedNode' : ''">
          <button
          (click)= "expandClick.emit(node)"
          mat-icon-button matTreeNodeToggle
                  [matTooltip]="'toggle ' + node.key">
            <mat-icon class="mat-icon-rtl-mirror">
              {{nestedTreeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          <div class="selector-area" (click)="nodeClick.emit(node)">
            {{node.key}}
          </div>
          <div class="menu-area">
            <button mat-icon-button [matMenuTriggerFor]="nodeMenu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #nodeMenu="matMenu">
              <button color="warn" mat-menu-item>
                <mat-icon>delete_forever</mat-icon>
                <span>Delete Key</span>
              </button>
              <button color="accent" mat-menu-item>
                <mat-icon>device_hub</mat-icon>
                <span>Add New Key (Folder)</span>
              </button>
            </mat-menu>
          </div>
        </div>
        <ul [class.example-tree-invisible]="!nestedTreeControl.isExpanded(node)">
          <ng-container matTreeNodeOutlet></ng-container>
        </ul>
      </li>
    </mat-nested-tree-node>
  </mat-tree>