<app-root-container>
    <app-node-root
      [redisId] ="selectedInstanceId$ | async"
      [selectedKeyInfoHosts] = "selectedKeyInfoHosts$ | async"
      (keyTabChanged) = "changeKeyTabIndex($event)"
      (closeKeyInfo) = "closeKeyInfo($event)"
      (updateStringValue) = "updateStringKeyValue($event)"
      (selectEntityIndex) = "selectEntityIndex($event)"
      (newValueAdd) = "addNewEntity($event)"
      (paginationChanged) = "paginationChanged($event)"
      (changeSelectedEntityIndex) = "changeSelectedEntityIndex($event)"
      (deleteEntity) = "deleteEntity($event)"
      (updateEntiyValue)= "updateEntityValue($event)"
      >                      
    </app-node-root>
    <app-cli-container cli
      [redisId] ="selectedInstanceId$ | async"
      [allRedisClis] = "allRedisClis$ | async"
      (toggleCli) = "toggleCli($event)"
    >
    </app-cli-container>
</app-root-container>