<ng-container>
    <mat-tab-group (selectedIndexChange)="redisSelected($event)" [@.disabled]="true">
        <mat-tab [@.disabled]="true" *ngFor=" let instance of (redisInstances$ | async)">
          <ng-template mat-tab-label>
            <mat-icon matTooltip="Synched" color="primary" class="tab-icon">flash_on</mat-icon>
            {{instance.name}}
            <mat-icon matTooltip="Disconnect" class="tab-icon">exit</mat-icon>
          </ng-template>
          <mat-sidenav-container class="example-container">
              <mat-sidenav #sidenav mode="side" opened autosize class="example-sidenav"> 
                  <app-tree
                    [selectedNodeKey] = "instance.selectedNodeKey"
                    [expandedNodeKeys] = "instance.expandedNodeKeys"
                    (nodeClick) = "nodeClicked({node: $event, redis:instance})"
                    (searchInputChanged)= "setNodeSearchQuert({redis: instance, query:$event})"
                    [searchText]= "instance.searchQuery"
                    (expandClick)= "expandClicked({node: $event, redis:instance})"
                    [redisTree]="instance.tree"
                    >
                  </app-tree>
              </mat-sidenav>
              <mat-sidenav-content>
                  <app-redis-instance
                   [instance] = "instance"
                  >
                  </app-redis-instance>
              </mat-sidenav-content>
            </mat-sidenav-container>

        </mat-tab>        
        <!--<mat-tab *ngIf="(redisInstances$ | async)" disabled selected="false">
          <ng-template class="new-tab" mat-tab-label>
            <mat-icon matTooltip="New">tab</mat-icon>              
          </ng-template>          
        </mat-tab>-->
          <mat-toolbar class="example-footer">Footer</mat-toolbar>
      </mat-tab-group>

 
</ng-container>