<app-root-container>
    <app-node-root
      [redisId] ="selectedInstanceId$ | async"
      [selectedKeyInfoHosts] = "selectedKeyInfoHosts$ | async"
      (keyTabChanged) = "changeKeyTabIndex($event)"
      (closeKeyInfo) = "closeKeyInfo($event)"
      (updateStringValue) = "updateStringKeyValue($event)"
      (selectEntityIndex) = "selectEntityIndex($event)"
      (newValueAdd) = "addNewEntity($event)"
      (changeSelectedEntityIndex) = "changeSelectedEntityIndex($event)"
      >                      
    </app-node-root>
</app-root-container>