<mat-form-field>    
    <input
      type="text"
      [formControl]="searchInputControl"
      matInput placeholder="Key/name/pattern" value="{{searchText}}" #searchInput>
      <button mat-button *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear"
       (click)="searchInputChanged.emit('')">
        <mat-icon>remove</mat-icon>
      </button>
      <button mat-button  matSuffix mat-icon-button aria-label="Search"
       (click)="clickSearch()">
        <mat-icon>search</mat-icon>
      </button>
  </mat-form-field>

  <button color="warn" *ngIf="hasMoreKeys" mat-stroked-button (click)="loadMore.emit()">
    Load More
    <mat-icon>loading</mat-icon>
  </button>
  