<div matDialogTitle>
  <span>Rename Key</span>
</div>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="New Key" [(ngModel)]="data.newKey">
  </mat-form-field>
  <div class="mat-dialog-content">
      <ul class="err-area">
        <li *ngFor="let err of errors">{{err}}</li>
      </ul>
    </div>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="4px">
    <button mat-button  matDialogClose (click)="onNoClick()">Cancel</button>
    <button mat-stroked-button color="primary" (click)="onSubmit()" cdkFocusInitial>Add</button>
</div>
